# Timeout profile script created by DISA STIG for UBUNTU22
## Supplied by ansible-lockdown
## Sponsored by Mindpoint Group - A Tyto Athene Company / Ansible Lockdown
#!/bin/bash

{% if ubtu22stig_412030 %}
TMOUT=900
{% endif %}
